
@use '../custom' as *;
@use '../components/mixins' as *;

.menu{
    @include gradient;

   background: linear-gradient(to right,rgba(153, 38, 240, ),rgba(209, 34, 227, 0.95));
    li{
        padding: 0 0.7rem;

        a{
            color: $white;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}