@use '../custom' as *;
// display2
.display-2{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    &--intro{
        display: inline-block;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }

    &--description{
        display: block;
        font-size: 1.5rem;
        margin-top: 2rem;
        text-transform: none;
    }
}

// heading line

.heading-line::before{
    content: '';
    width: 10rem;
    height: 0.2rem;
    display:block;
    margin: 0 auto;
    background-color: $primary;
}
.heading-line::after{
    content: '';
    width: 2rem;
    height: 0.5rem;
    display:block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $primary;
}

// display 3

.display-3{
    font-family: 'Poppins', sans-serif;

    &--title{
        font-size: 1.8rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        background-image: linear-gradient(to right,$primary, $secondary);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        
    }
}



// border 

.border-right{
    border-right: 0.1rem solid $gray-300;
    height: 100%;
}


// display-5
.display-5{
    font-family: 'Poppins', sans-serif;
}

//gradient
.gradient{
    background: linear-gradient(to right,rgba(153, 38, 240, ),rgba(209, 34, 227, 0.95));
}